{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}

{% include 'navbar.html' %}
<body>

<div class="custom-container">
    <div class="image_container">
        <img src="static/ConejoFreeClinicLogo.png" alt="Logo" class="img-fluid custom-logo">
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p class="flashes">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="form_container">
        <form action="{{ url_for('form') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="row">
            <div class="col-md-6 mb-3">
                <label for="city_of_residence">City of Residence</label>
                <input id="city_of_residence" name="city_of_residence" class="awesomplete form-control" data-list="{{ cities_in_california|join(', ') }}" value="{{form.city_of_residence.data or '' }}"/>
            </div>
            <div class="col-md-6 mb-3">
                {{ form.zipcode.label }}
                {{ form.zipcode(class="form-control") }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.age.label }}
                {{form.age(class="form-control") }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.referred_by.label }}
                {{ form.referred_by(class="form-select") }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.education.label }}
                {{ form.education(class="form-select") }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.gender.label }}
                {{ form.gender(class="form-select") }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.ethnicity.label }}
                {{ form.ethnicity(class="form-select") }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.race.label }}
                {{ form.race(class="form-select") }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.housing.label }}
                {{ form.housing(class="form-select") }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.household_income.label }}
                {{ form.household_income(class="form-control") }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.number_of_dependants.label }}
                {{ form.number_of_dependants(class="form-control") }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.language.label }}
                {{ form.language(class="form-select") }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.employment.label }}
                {{ form.employment(class="form-select") }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.health_coverage.label }}
                {{ form.health_coverage(class="form-select") }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.hiv_status.label }}
                {{ form.hiv_status(class="form-select") }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.lgbtq_status.label }}
                {{ form.lgbtq_status(class="form-select") }}
            </div>
            <div class="col-md-6 mb-3 form-check">
                {{ form.veteran.label(class="form-check-label") }}
                {{ form.veteran(class="form-check-input") }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.submit(class="custom-btn btn") }}
            </div>
            </div>
        </form>



    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const zipcode_input = document.querySelector('input[name="zipcode"]');
    const age_input = document.querySelector('input[name="age"]');
    const income_input = document.querySelector('input[name="household_income"]');
    const dependants_input = document.querySelector('input[name="number_of_dependants"]');

    zipcode_input.addEventListener('input', function () {
        this.value = this.value.replace(/[^0-9]/g, '').slice(0, 5);
    });
    age_input.addEventListener('input', function () {
        this.value = this.value.replace(/[^0-9]/g, '').slice(0, 3);
    });
    income_input.addEventListener('input', function () {
        this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10);
    });
    dependants_input.addEventListener('input', function () {
        this.value = this.value.replace(/[^0-9]/g, '').slice(0, 2);
    });

});
</script>
</body>
{% endblock %}