{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}

{% include 'navbar.html' %}
<body>
<div class="custom-container">
    <div class="image_container">
        <img src="static/ConejoFreeClinicLogo.png" alt="Logo" class="img-fluid">
    </div>
    {% if current_user.is_authenticated %}
    <a class="active custom-btn btn btn-primary" href="{{ url_for('form') }}">Begin Form</a>
    {% else %}
    <a class="active custom-btn btn btn-primary" href="{{ url_for('login_route') }}">Login</a>
    {% endif %}
    <a class="active custom-btn btn btn-secondary" href="/test">Test</a>
</div>
</body>

{% include 'footer.html' %}

{% endblock %}