{% block content %}
<nav class="dark-toggle navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                     <a class="nav-link active navbar-btn" aria-current="page" href="/logout">Logout</a>
                </li>
                {% endif %}
                {% if current_user.is_admin %}
                <li class="nav-item">
                    <a class="nav-link active navbar-btn" aria-current="page" href="/statistics">Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active navbar-btn" aria-current="page" href="/create_new_user">Create New User</a>
                </li>
                {% endif %}

            </ul>

             <ul class="navbar-nav ms-auto">
                 <li class="nav-item">
                     <a  class="nav-link dark-toggle nav-link" href="#" id="toggle-dark">Toggle Dark Mode</a>
                 </li>
                <li class="nav-item">
                    <a class="nav-link navbar-btn" href="/profile/{{ current_user.id }}">{{ current_user.name }}</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
{% endblock %}